html, body
{
    margin: 0;
    height: 100%;
}
body
{
    padding-bottom: 200px;
}
h1
{
    text-align: center;
}
.bialy
{
    color: white;
    display: inline-block;
}
.zolty
{
    color: #f2ec30;
    display: inline-block;
}
nav
{
    grid-area: menu;
}
nav ul li a
{
    color: #f2ec30;
    text-decoration: none;
    font-size: x-large;
    padding: 20px;
}
nav ul li
{
    list-style-type: none;
    margin-bottom: 40px;
    border: #f2ec30 4px solid;
    border-radius: 15px;
    padding: 20px;
    width: 100px;
}
nav ul li:hover
{
    background-color: black;
}
footer
{
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #f2ec30;
    width: 100%;
    height: 100px;
    font-size: x-large;
}
.formularz
{
    grid-area: formularz;
}
body img
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.coto
{
    font-size: x-large;
    text-align: center;
}
.wesprzyj
{
    font-size: x-large;
    text-align: center;
}
.body-macwrap
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "menu formularz";
    align-items: center;
}
.divform
{
    margin-left: 16%;
    margin-right: auto;
    width: 40%;
    height: 500px;
    color: white;
}
footer a 
{
    text-decoration: none;
    color:black;
}
@media(max-width:750px)
{
    .body-macwrap
    {
        grid-template-columns: 30% 70%;
        grid-template-areas: "menu formularz"
    }
    nav
    {
        height: 100%;
        display: flex;
        align-items: center;
    }
    body
{
    padding-bottom: 400px;
}
}
